Repository reid-sutherland/RoundReports, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, Attributes, Commands, DataStructures, Enums, Patches, Pools, Structures, Config, EventHandlers, Extensions, MainPlugin, Reporter, Meta, ScriptedEventsIntegration, Translation

fix scp079 not getting rewarded for pocket dimension assists
  RoundReports/EventHandlers.cs
Labels: EventHandlers

chore: bump version
  RoundReports/MainPlugin.cs
Labels: MainPlugin

switching to main
  README.md
Labels: none

initial commit to update the horrid .csproj file and use the standard EXILED Plugin.props
  Plugin.props
  RoundReports/RoundReports.csproj
Labels: Meta

disabled ScriptedEvents integrations and an outdated EXILED event that was breaking the build
  RoundReports/EventHandlers.cs
  RoundReports/MainPlugin.cs
Labels: EventHandlers, MainPlugin

bugfixes and added a few logs
  RoundReports/DataStructures/FinalStats.cs
  RoundReports/EventHandlers.cs
  RoundReports/Reporter.cs
Labels: DataStructures, EventHandlers, Reporter

Temporarily disabling PasteEE functionality, just writing to a txt file in the server folder instead
  RoundReports/Reporter.cs
Labels: Reporter

fixed discord embed link stuff
  RoundReports/Reporter.cs
Labels: Reporter

your repo? MY repo :)
  RoundReports/MainPlugin.cs
  RoundReports/Reporter.cs
Labels: MainPlugin, Reporter

updated README
  README.md
Labels: none

Fixed SCP500 not appearing in stats
  RoundReports/EventHandlers.cs
Labels: EventHandlers

fixed issue with starting stats
  RoundReports/EventHandlers.cs
Labels: EventHandlers

added discord_enabled and paste_enabled
  RoundReports/Config.cs
  RoundReports/Reporter.cs
Labels: Config, Reporter

added some missing scp items and fixed some weird item stat logic - note that scp-018 is still bugged :/
  RoundReports/DataStructures/ItemStats.cs
  RoundReports/DataStructures/SCPStats.cs
  RoundReports/Enums/StatType.cs
  RoundReports/EventHandlers.cs
  RoundReports/Translation.cs
Labels: DataStructures, Enums, EventHandlers, Translation

moved broadcast send so that it always happens regardless of paste_enabled or discord_enabled
  RoundReports/Reporter.cs
Labels: Reporter

split MostTalkativePlayer into Human and SCP categories
  RoundReports/DataStructures/FinalStats.cs
  RoundReports/Enums/StatType.cs
  RoundReports/Translation.cs
Labels: DataStructures, Enums, Translation

removed TotalTeslaGates stat (doesn't work and nobody cares) and outputting report to file now that paste website works
  RoundReports/DataStructures/MiscStats.cs
  RoundReports/EventHandlers.cs
  RoundReports/Reporter.cs
Labels: DataStructures, EventHandlers, Reporter

changed DetonationTime from a DateTime to a TimeSpan like RoundEnd
  RoundReports/DataStructures/FinalStats.cs
  RoundReports/EventHandlers.cs
Labels: DataStructures, EventHandlers

removed StyleCop and fixed Plugin.props
  Plugin.props
  RoundReports/EventHandlers.cs
  RoundReports/RoundReports.csproj
Labels: EventHandlers, Meta

Added StyleCop back in (lol) fixed some warnings and edited .editorconfig to ignore the ones we don't care about
  .editorconfig
  Plugin.props
  RoundReports/MainPlugin.cs
  RoundReports/RoundReports.csproj
  RoundReports/Structures/MVPPointsConfigs.cs
  RoundReports/Translation.cs
Labels: Structures, MainPlugin, Meta, Translation

found the correct exiled event for OnDamagingWindow
  RoundReports/EventHandlers.cs
  RoundReports/MainPlugin.cs
Labels: EventHandlers, MainPlugin

updated some project settings and properties
  .editorconfig
  Plugin.props
  RoundReports/EventHandlers.cs
  RoundReports/RoundReports.csproj
Labels: EventHandlers, Meta

Updated some MVP points logic and added a missing KillSCP field described in the readme
  RoundReports/DataStructures/MVPStats.cs
  RoundReports/EventHandlers.cs
  RoundReports/Structures/MVPPointsConfigs.cs
  RoundReports/Translation.cs
Labels: DataStructures, Structures, EventHandlers, Translation

added TotalTeslaGates back in, in case somebody wants to fix it. Currently it is always zero.
  RoundReports/DataStructures/MiscStats.cs
  RoundReports/EventHandlers.cs
Labels: DataStructures, EventHandlers

Updated README and updated solution to include .props file and README
  README.md
  RoundReports.sln
Labels: none

balance changes for points
  README.md
  RoundReports/Structures/MVPPointsConfigs.cs
Labels: Structures

Version 1.1.0
  RoundReports/RoundReports.csproj
Labels: Meta

fixed the OnRespawningTeam logic with Exiled's Faction changes (not sure if Serpent's Hand is correct since I can't test it)
  RoundReports/EventHandlers.cs
Labels: EventHandlers

Version 1.1.1
  RoundReports/RoundReports.csproj
Labels: Meta

added a bunch of updates to kill statistics including what weapon was used for each kill
  RoundReports/DataStructures/FinalStats.cs
  RoundReports/DataStructures/OrganizedKillsStats.cs
  RoundReports/Enums/CustomTeam.cs
  RoundReports/Enums/StatType.cs
  RoundReports/EventHandlers.cs
  RoundReports/Reporter.cs
  RoundReports/Translation.cs
Labels: DataStructures, Enums, EventHandlers, Reporter, Translation

added a json write-to-file for others to potentially use - fixed some other paste reporting stuff
  RoundReports/Attributes/HideAttribute.cs
  RoundReports/DataStructures/FinalStats.cs
  RoundReports/Reporter.cs
  RoundReports/RoundReports.csproj
Labels: Attributes, DataStructures, Reporter, Meta

more or less fixed the MostTalkative stat by separating them into two lists instead of sorting at the end
  RoundReports/DataStructures/FinalStats.cs
  RoundReports/EventHandlers.cs
Labels: DataStructures, EventHandlers

update exiled to 9.6 beta 7 for propper 14.1 support
  RoundReports/RoundReports.csproj
Labels: Meta

added some actions to create release stuff
  .github/workflows/create-prerelease.yml
  .github/workflows/create-release.yml
  .github/workflows/dev-build.yml
  .github/workflows/main-build.yml
Labels: GitHub

version bump
  RoundReports/MainPlugin.cs
Labels: MainPlugin

github: add fallback for references
  .github/workflows/dev-build.yml
Labels: GitHub

github: fix reference
  .github/workflows/dev-build.yml
  .github/workflows/main-build.yml
Labels: GitHub

github: fix some worklfow logic
  .github/workflows/create-prerelease.yml
  .github/workflows/create-release.yml
  .github/workflows/dev-build.yml
  .github/workflows/main-build.yml
Labels: GitHub

dont use dev as tag for prerelease
  .github/workflows/dev-build.yml
Labels: GitHub

exception handling for log file saving
  RoundReports/EventHandlers.cs
  RoundReports/Reporter.cs
Labels: EventHandlers, Reporter

.github/labeler.yml:

GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/** # Any modifications to GitHub-related files

Attributes:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Attributes/**

Commands:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Commands/**

DataStructures:
  - changed-files:
      - any-glob-to-any-file: RoundReports/DataStructures/**

Enums:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Enums/**

Patches:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Patches/**

Pools:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Pools/**

Structures:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Structures/**

Config:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Config.cs

EventHandlers:
  - changed-files:
      - any-glob-to-any-file: RoundReports/EventHandlers.cs

Extensions:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Extensions.cs

MainPlugin:
  - changed-files:
      - any-glob-to-any-file: RoundReports/MainPlugin.cs

Reporter:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Reporter.cs

Meta:
  - changed-files:
      - any-glob-to-any-file: RoundReports/RoundReports.csproj

ScriptedEventsIntegration:
  - changed-files:
      - any-glob-to-any-file: RoundReports/ScriptedEventsIntegration.cs

Translation:
  - changed-files:
      - any-glob-to-any-file: RoundReports/Translation.cs
